#ignore data files due to size constraint
code/data
data/**/*.json
data/**/*.tar
code/backend/.env
code/frontend/package.json
code/frontend/package-lock.json
.vercel
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.sqlite3
/node_modules
pages/.next
pages/.node_modules
